In [94]:
import requests as rq
import pandas as pd
import requests
headers = {'User-agent':
           "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"} 
df = pd.DataFrame()
for i in range(1, 36):
    url = 'https://finance.naver.com/item/sise_day.nhn?code=035720&page=' + str(i)
    table = pd.read_html(requests.get(url,headers=headers).text,encoding="cp949")
    df_temp = table[0]
    df = df.append(df_temp, ignore_index = True)
Hyundai_Car_stock = df.dropna()    
Hyundai_Car_stock.to_csv('Hyundai_car_stock.csv', encoding = 'cp949')
Hyundai_Car_stock

             날짜        종가     전일비        시가        고가        저가        거래량
1    2021.05.31  123000.0  1000.0  122000.0  123000.0  120500.0  2286409.0
2    2021.05.28  122000.0  3000.0  125000.0  125500.0  120500.0  3685820.0
3    2021.05.27  125000.0  5500.0  120000.0  125000.0  119500.0  7398732.0
4    2021.05.26  119500.0  1500.0  118500.0  120000.0  117500.0  2308405.0
5    2021.05.25  118000.0  1500.0  117000.0  118000.0  116000.0  1777001.0
..          ...       ...     ...       ...       ...       ...        ...
519  2020.01.07  160000.0  5500.0  155000.0  160000.0  154500.0   840186.0
520  2020.01.06  154500.0  2000.0  150500.0  155000.0  150000.0   393715.0
521  2020.01.03  152500.0     0.0  153500.0  155000.0  151000.0   314848.0
522  2020.01.02  152500.0  1000.0  154000.0  154500.0  152000.0   241047.0
523  2019.12.30  153500.0     0.0  154000.0  155000.0  153000.0   428587.0

[350 rows x 7 columns]